{% extends 'base.html' %}

{% load bootstrap5 %}
{% load static %}
{% block bootstrap5_title %}No More Accidents{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="container">
      <div class="row">
          <div class="col-12" id="title-container" style="text-align:center">
            <h3>Mis Visitas</h3>
          </div>
      </div>
    </div>
    <br>
    <div class="container col-md-8" style="text-align: left;">
        <h3 id="id" style="text-align: center;"></h3>
        <hr>
        <h5 id="fecha_inicio"></h5>
        <h5 id="fecha_termino"></h5>
        <h5 id="profesional"></h5>
        <h5 id="estado"></h5>
        <h5 id="direccion"></h5>
        <h5 id="comuna"></h5>
        <h5 id="descripcion"></h5>
        <!-- <h5>Profesional Asignado: Sin Asignar</h5> -->
        <br>
        {% comment %} <h3 style="text-align: center;">Plan de Mejora</h3>
        <hr>
        <h5 id=""></h5> {% endcomment %}
    </div>
    <br>
    <br>
    <div class="container col-md-8">
      <br><br><br>
      <div class="row">
        <div class="container col-md-4" style="text-align: left;">
          <a href="" class="btn btn-secondary col-md-8"><img src="{% static 'core/img/icons/previous.png' %}" alt="" width="38px" height="38px">Volver</a>
        </div>
        <!-- <div class="container col-md-4" style="text-align: center;">
          <a href="update-asesoria.html" class="btn btn-warning col-md-12"><img src="../../assets/img/icons/edit.png" alt="" width="38px" height="38px">Editar Solicitud</a>
        </div> -->
        <div class="container col-md-4">
          <!-- <button>Editar</button> -->
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="{% static 'core/js/cliente/visita.js' %}"></script>
{% endblock %}