{% extends 'base.html' %}

{% load bootstrap5 %}
{% load static %}
{% block bootstrap5_title %}No More Accidents | Visitas Asignadas{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="container" style="text-align:center">
      <div class="row">
          <div class="col-12" id="title-container">
            <br>
            <h1>Mis Visitas</h1>
          </div>
      </div>
    </div>
    <br>    
    <div class="container" style="text-align:center;">      
      <div class="row">
        <div class="col-md-12" style="text-align:center;">            
            <a href="" class="btn btn-primary col-md-3"><img src="../../assets/img/icons/document.png" alt="">Formulario Visita</a>
        </div>
      </div>
      <br>
      <hr>
    </div>
    <div class="container" style="text-align:center">
        <div class="row">
            <div class="col-12" id="title-container">
                <br>
                <h1>Historial de Visitas</h1>
            </div>
        </div>
    </div>
    <br>
    <div class="container col-12" style="text-align: center;">
      <div class="table table-sm">
      <form method="GET">
          <table class="table table-secondary table-bordered table-striped">
            <thead>
              <!-- <div class="row">
                <div class="col-12 col-md-4 padding-our">
                  <label for="fechainicio">Fecha inicio</label>
                    <div class="input-group">
                      <input type="date" id="fechainicio" name="fechainicio" class="form-control">
                    </div>
                  </div>
                  <div class="col-12 col-md-4 padding-our">
                    <label for="fechatermino">Fecha termino</label>
                    <div class="input-group">
                      <input type="date" id="fechatermino" name="fechatermino" class="form-control">
                    </div>
                  </div>
                  <div class="col-12 col-md-4 padding-our">
                    <button type="submit" class="btn btn-outline-primary btn-primary text-light mt-3"><img src="../../assets/img/icons/search-find.png" alt="" width="25px" height="25px">Filtrar</button>
                    <button type="reset" class="btn btn-outline-secondary btn-secondary text-light mt-3"><img src="../../assets/img/icons/clean.png" alt="" width="25px" height="25px"> Restablecer</button>
                  </div>
                </div>
              </div> -->
              <br>
              <tr class="col-12">
                <th class="col-2">Fecha Solicitud</th>
                <th class="col-2">Fecha Visita</th>
                <th class="col-2">Dirección</th>
                <th class="col-2">Comuna</th>
                <th class="col-2">Estado</th>
                <th class="col-4">Acciones</th>                
              </tr>
            </thead>          
            <tbody class="col-12" id="tbody-list">
              <tr class="col-12">
                <td>11-09-2023</td>
                <td>13-09-2023</td>
                <td>Calle Falsa #123</td>
                <td>Puente Alto</td>
                <td>En Curso</td>
                <td>
                  <a href="" class="btn btn-outline-info btn-info text-dark"><img src="{% static 'core/img/icons/detail.png' %}" alt="" width="20px" height="20px">Ver Más</a>                  
                </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
    <br>
    <br>
{% endblock %}