{% extends 'base.html' %}

{% load bootstrap5 %}
{% load static %}
{% block bootstrap5_title %}No More Accidents | Accidentes{% endblock %}

{% block content %}
  <div class="container" style="text-align:center">
    <br>
    <br>
    <div class="container" style="text-align:center">
      <div class="row">
        <div class="row align-items-center" style="text-align: center;">
          <h3>Registro de Accidentes</h3>
        </div>
      </div>
    </div>
    <br>    
    <div class="container" style="text-align:center;">      
      <div class="row">
        <div class="col-12">
          <a href="{% url 'accidente-new' %}" class="btn btn-primary col-md-4">Registrar Accidente</a>
        </div>
      </div>
      <br>
      <hr>
    </div>
    <br>
    <br>
    <div class="container col-12" style="text-align: center;">
      <div class="table table-sm">
      <form method="GET" id="filter-form">
        <div class="row">
          <div class="col-12 col-md-4 padding-our">
            <label for="fechainicio">Fecha Accidente</label>
              <div class="input-group">
                <input type="date" id="fechainicio" name="fechainicio" class="form-control">
              </div>
          </div>
          <div class="col-12 col-md-4 padding-our">
            <label for="tipo_accidente">Tipo de Accidente:</label>                    
              <div class="form-group">
                <select id="tipo_accidente" style="text-align: center;" name="tipo_accidente" onchange="combo(this, 'tipo_accidente')" class="form-control">
                {% comment %} Por caída, Por exposición o contacto, Por sobreesfuerzo o golpes, Por movimientos repetitivos {% endcomment %}
                  <option value="">Todos</option>
                  <option value="1">Por caída</option>
                  <option value="2">Por exposición o contacto</option>
                  <option value="3">Por sobreesfuerzo o golpes</option>
                  <option value="4">Por movimientos repetitivos</option>
                </select>
              </div>
          </div>
          <div class="col-12 col-md-4 padding-our">
            <button type="submit" class="btn btn-outline-primary btn-primary text-light mt-3"><img src="{% static 'core/img/icons/search-find.png' %}" alt="" width="25px" height="25px">Filtrar</button>
            <button type="reset" class="btn btn-outline-secondary btn-secondary text-light mt-3"><img src="{% static 'core/img/icons/clean.png' %}" alt="" width="25px" height="25px"> Restablecer</button>
          </div>
          </div>
        </div>
      
        <table class="table table-secondary table-bordered table-striped">
            <thead>
              
              <br>
              <tr class="col-12">
                <th class="col-2">Fecha Accidente</th>
                <th class="col-2">Descripción</th>
                <th class="col-2">Cant. Involucrados</th>
                <th class="col-2">Tipo Accidente</th>
                <th class="col-4">Acciones</th>                
              </tr>
            </thead>          
            <tbody class="col-12" id="tbody-list">
              {% comment %} 
              <tr class="col-12">
                <td>12-09-2023</td>
                <td>Caída de alturasdasasda</td>
                <td>1</td>
                <td>12-09-2023</td>
                <td>
                  <a href="{% url 'update_accidente' %}" class="btn btn-outline-warning btn-warning text-dark"><img src="{% static 'core/img/icons/edit.png' %}" alt="" width="20px" height="20px">Actualizar</a>
                  <a href="{% url 'detail_accidente' %}" class="btn btn-outline-info btn-info text-dark"><img src="{% static 'core/img/icons/detail.png' %}" alt="" width="20px" height="20px">Ver Más</a>                  
                </td>
              </tr> 
              {% endcomment %}
            </tbody>
            </form>
        </table>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="{% static 'core/js/cliente/accidente.js' %}" defer></script>
{% endblock %}