{% extends 'base.html' %}

{% load bootstrap5 %}
{% load static %}
{% block bootstrap5_title %}No More Accidents | Detalle Asesoría{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="container">
      <div class="row">
          <div class="col-12" id="title-container" style="text-align:center">
            <h3>Detalle Asesoría</h3>
          </div>
      </div>
    </div>
    <br>
    <br>
    <div id="detalle-asesoria" class="container col-md-8" style="text-align: left;">
        <h3 id="id" style="text-align: center;"></h3>
        <hr>
        <h5 id="fecha-inicio"></h5>
        <h5 id="fecha-termino"></h5>
        <h5 id="descripcion"></h5>
        <h5 id="tipo-asesoria"></h5>
        <h5 id="estado-asesoria"></h5>
        <h5 id="profesional"></h5>
        <hr>
        <h3 style="text-align: center;">Contacto Fiscalizador</h3>
        <h5 id="nombre-fiscalizador"></h5>
        <h5 id="numero-fiscalizador"></h5>
        <h5 id="email-fiscalizador"></h5>
    </div> 
    <br>
    <br>
    <div class="container col-md-8">
      <br><br><br>
      <div class="row">
        <div class="container col-md-4" style="text-align: left;">
          <a href="" class="btn btn-secondary col-md-8"><img src="{% static 'core/img/icons/previous.png' %}" alt="" width="38px" height="38px">Volver</a>
        </div>
        <div class="container col-md-4" style="text-align: center;">
          <a href="" class="btn btn-warning col-md-12"><img src="{% static 'core/img/icons/edit.png' %}" alt="" width="38px" height="38px">Editar Solicitud</a>
        </div>
        <div class="container col-md-4">
          <!-- <button>Editar</button> -->
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="{% static 'core/js/cliente/asesoria.js' %}"></script>
{% endblock %}