{% extends 'base.html' %}

{% load bootstrap5 %}
{% load static %}
{% block bootstrap5_title %}No More Accidents{% endblock %}

{% block content %}
        <br>
    <br>
    <div class="container">
      <div class="row">
          <div class="col-12" id="title-container" style="text-align:center">
            <h3>Detalle Factura</h3>
          </div>
      </div>
    </div>
    <br>
    <div class="container col-md-8" style="text-align: left;">
        <h3 id="id" style="text-align: center;"></h3>

        <hr>
        <h5 id="fecha_emision"></h5>
        <h5 id="fecha_vencimento"></h5>
        <h5 id="total_factura"></h5>
        <h5 id="pagada"></h5>
    </div>
    {% comment %} Aqui va la tabla detalle factura {% endcomment %}
    {% comment %} <div class="container col-12" style="text-align: center;">
        <div class="table-responsive table-sm">
        <form method="GET">
            <table class="table table-secondary table-bordered table-striped">
              <thead>
                <br>
                <tr class="col-12">
                  <th class="col-1">id</th>
                  <th class="col-1">Fecha</th>
                  <th class="col-1">Tipo Movimiento</th>                                 
                </tr>
              </thead>          
              <tbody class="col-12" id="tbody-list">
                <tr class="col-12">
                  <td>1</td>
                  <td>01-09-2023</td>
                  <td>Asesoría</td>   
                </tr>
              </tbody>        
              <tbody class="col-12" id="tbody-list">
                <tr class="col-12">
                  <td>2</td>
                  <td>08-09-2023</td>
                  <td>Visita</td>   
                </tr>
              </tbody>          
              <tbody class="col-12" id="tbody-list">
                <tr class="col-12">
                  <td>3</td>
                  <td>13-09-2023</td>
                  <td>Capacitación</td>   
                </tr>
              </tbody>
          </table>
        </div>
      </div> {% endcomment %}
    <br>
    <br>
    <div class="container col-md-8">
      <br><br><br>
      <div class="row">
        <div class="container col-md-4" style="text-align: left;">
          <a href="" class="btn btn-secondary col-md-8"><img src="{% static 'core/img/icons/previous.png' %}" alt="" width="38px" height="38px">Volver</a>
        </div>
        <!-- aqui deberia estar el boton de pagar -->
        <div class="container col-md-4" style="text-align: center;">
          <a href="" class="btn btn-warning col-md-12"><img src="{% static 'core/img/icons/payment.png' %}" alt="" width="38px" height="38px">Pagar</a>
        </div>
        <div class="container col-md-4">
          <!-- <button>Editar</button> -->
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="{% static 'core/js/cliente/factura.js' %}"></script>
{% endblock %}
